<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25012484874-appe1sme9u6p7b5hehmt7n0b8h24tv4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25012484874-appe1sme9u6p7b5hehmt7n0b8h24tv4c</string>
	<key>API_KEY</key>
	<string>AIzaSyAK0QRrEp_jz4MCYhVxpWT-S60soifqSwk</string>
	<key>GCM_SENDER_ID</key>
	<string>25012484874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tu.ac.th.rp.RURIGHTGAME</string>
	<key>PROJECT_ID</key>
	<string>project333-75554</string>
	<key>STORAGE_BUCKET</key>
	<string>project333-75554.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25012484874:ios:bf6f4255f2ed3f0f7918f3</string>
</dict>
</plist>